Source: brightmare
Section: tex
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Bugs: mailto:ubanus@users.sf.net
Build-Depends: debhelper (>= 5), ocaml-native-compilers (>= 3.0), xsltproc, docbook-xsl
Standards-Version: 3.7.3

Package: brightmare
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LaTeX equations to ASCII/UTF-8 translator
 BrightMaRe is a tool that translates LaTeX equations to ASCII/UTF-8
 text.
